.Table-container {
  overflow-x: auto;
  /* margin-top: 500px; */
}

.Table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.Table-head {
  color: var(--border);
  background-color: #283f54;
}

.Table-head tr th {
  padding: 10px 20px;
  color: var(--element);
  text-align: left;
  font-size: 14px;
  font-weight: 400;
}

.Table-body {
  text-align: left;
  background-color: var(--bg);
}
.Remove-button {
  width: 100px;
}

.Table-body tr td {
  padding: 24px 20px;
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid var(--bg);
}

.Table-format {
  color: var(--element);
}
